@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color:  #fcf4e7;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Ocupa toda a altura da tela */
  width: 14rem; /* Defina a largura desejada */
  background-color: #fcf4e7; /* Cor de fundo da barra lateral */
  border-right: 1px solid #575353; /* Borda sutil à direita */
  z-index: 100; /* Certifique-se de que a barra lateral esteja na frente de outros elementos */
}


input {
  background-color: transparent;
  border: 1px solid #bdb9b8;
  border-radius: 10px; 
  padding: 0.5rem; 
  height: 2rem;
}


input:focus {
  border-color: #8b8b8b; 
  outline: none; 
}

textarea{
  background-color: transparent;
  border: 1px solid #bdb9b8;
  border-radius: 10px;  
  padding: 0.5rem;

}

textarea:focus {
  border-color: #8b8b8b; /* Borda cinza forte */
  outline: none; /* Remove a borda de foco padrão do navegador */
}

@layer components{

  .btnReserva{
    @apply rounded-lg bg-violet-500 py-4 px-20 font-sans text-xs font-bold uppercase 
    shadow-md transition-all hover:shadow-lg hover:shadow-gray-500 
    focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none 
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none
  }

}